/*---------------------------SETTING DEFAULTS---------------------------*/
body {
  background: rgb(40, 40, 48);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 48, 1) 0%,
    rgba(200, 245, 249, 1) 15%,
    rgba(200, 245, 249, 1) 85%,
    rgba(40, 40, 48, 1) 100%
  );
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  margin: auto;
}
a {
  color: #c8f5f9;
  text-decoration: none;
  margin: 0;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 40px;
  text-align: center;
}

p {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  padding: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.fontOswald200 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
}
.fontOswald300 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.fontLato400 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
/*---------------------------Header---------------------------*/
#siteTitle {
  font-size: 60px;
  width: 80%;
  text-align: center;
  color: #fff;
  margin: auto;
}

/*---------------------------MAINBODY---------------------------*/

main {
  min-height: 82vh;
  display: flex;
  justify-content: center;
  margin: 0;
}
.main-content {
  height: auto;
  background-color: rgba(200, 245, 249, 90%);
  width: 70%;
  border-radius: 20px;
  text-align: left;
}

/*Homepage*/

.introduction {
  max-height: 50%;
}
.quickViews {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  height: 50%;
}

/*---------------------------Footer---------------------------*/
footer a {
  font-size: 2rem;
}
